.ex4 {background-image: url(2cb.jpg); background-position: center; background-attachment:fixed;opacity: 0.9;}
.ex1 {background-image: url(2cb.jpg); background-position: center; background-attachment:fixed;opacity:0.94;}
body {
  font-family: "Lato", sans-serif;
}
a {text-decoration:none; color:gold;}
a:hover {color:red;}
.ex3 {border-bottom-left-radius: 10px; border-bottom-right-radius: 30px; border-top-left-radius: 30px; border-top-right-radius: 10px; border-color: gold; border-style: solid; padding: 0.4cm; background-color: green; text-align:center; margin-left: 18cm; margin-right: 18cm;color:gold;font-size: 15px;font-weight: bold;letter-spacing: 1px;}
/* Fixed sidenav, full height */
.sidenav {
  height: 85%;
  width: 200px;border-radius:20px;margin-left: 5px;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 100;
  background: linear-gradient(45deg, green , #0066ff);
  overflow-x: hidden;
  padding-top: 20px;transition: 0.5s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-size: 12px;
  color: yellow;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none; transition: 0.2s;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: orange;transform:translateX(4px);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background: linear-gradient(45deg, red , #0066ff);
  padding-left: 2px;padding-right: 20px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 20px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.ex2 {font-size:10px;color:#C8FE2E;line-height: 1.6; text-align: justify;background-image: linear-gradient(-135deg, green, navy, green, navy);margin-left: 50px; margin-right:50px;margin-top:150px; border-radius: 30px;padding: 30px 30px 60px 30px;border-style:solid; border-color: #5B07DA;border-width: 8px;text-transform:uppercase;font-weight: 400;letter-spacing: 1px;
}
.exnew {font-size:10px;color:#C8FE2E;line-height: 1.6; text-align: justify;background-image: linear-gradient(-135deg, green, navy, green, navy);margin-left: 20px; margin-right:20px; border-radius: 10px;padding: 10px 10px 10px 10px;border-style:solid; border-color: #5B07DA;border-width: 3px;text-transform:uppercase;font-weight: 400;letter-spacing: 1px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  border-radius: 30px;opacity:0.9;
}
#myBtn:hover {
  background-color: green;transition-duration:0.3s;
}
html {scroll-behavior:smooth;}


body {margin:0;height:2000px;}

.icon-bar {
  position: absolute;
  top: 7%;left:4%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: inline-block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;margin-left:5px;
  font-size: 20px;border-radius:30px;transition-duration:0.5s;
}

.icon-bar a:hover {margin-left:5px;
    background-color: green;transform:scale(0.9);transition-duration:0.5s;color:black;
}

.facebook {
  background: #3B5998;
  color: white;
}
.home {background: #DF3A01;
  color: white; border-style:solid; border-color: white; border-width:3px;
}
.icon-bar1 {
  position: absolute;
  top: 7%;right:7%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar1 a {
  display: inline-block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;margin-right:5px;
  font-size: 20px;border-radius:30px;transition-duration:0.5s;
}

.icon-bar1 a:hover {margin-right:5px;
    background-color: green;transform:scale(0.9);transition-duration:0.5s;color:black;
}

.facebook1 {
  background: #3B5998;
  color: white;
}
.home1 {background: #DF3A01;
color: white;
}
.old1 {background: #099FF6;
  color: white;
}
.content {
  margin-left: 75px;
  font-size: 30px;
}
#nn {color:orange;font-size:20px;
text-align:center;text-shadow:-1px 0 #00e600,  0 1px #00e600, 1px 0 #00e600, 0 -1px #00e600;
background-image: linear-gradient(-135deg, green, navy, green, navy); border-radius: 20px;
padding: 20px 0px 20px 0px;border-style: solid; border-color: #5B07DA;border-width: 8px; 
text-transform:uppercase;font-weight: 900;letter-spacing: 8px;margin-right: auto;
margin-left: auto;max-width:600px;font-style:italic;}

.ex7 {border-radius: 30px;border-color:#94ED0D;border-width:4px;border-style:solid;float:left; max-width:250px;}
.ex71{border-radius: 30px;border-color:#94ED0D;border-width:4px;border-style:solid;float:right; max-width:250px;}
#ex20 {display:inline-block;border-radius: 30px;border-color:gold;border-width:4px;border-style:solid;float:left;margin-left:50px;margin-top:20px;margin-bottom:30px;}
.ex8 {margin-left:auto;margin-right:auto;display:block;}
.ex11 {border-radius: 18px;border-color:gold;border-width:4px;border-style:solid;color:#C8FE2E;font-size:14px;padding:20px;text-align:center;font-weight: 900;background: #ff0000;
background-image: linear-gradient(-135deg, green, navy, green, navy);}
img {border-color:gold; border-width:4px;border-style:solid;border-radius:30px;}
.nim {border-radius: 30px; float:left;max-width:300px;border-color:#94ED0D;border-style:solid;border-width:5px;}
@font-face {
   font-family: myFirstFont;
   src: url(nasalization.woff);
}
p, h2, a, button, td, table {
   font-family: myFirstFont;
}

@font-face {
   font-family: myFirstFont2;
   src: url(SansationLight.woff);
}
h1 {font-family:myFirstFont2;
}
#ex12 {color:orange;font-size:20px;text-align:center;text-shadow:-1px 0 #00e600,  0 1px #00e600, 1px 0 #00e600, 0 -1px #00e600;background-image: linear-gradient(-135deg, green, navy, green, navy); border-radius: 30px;padding: 20px 0px 20px 0px;border-style: solid; border-color: #5B07DA;border-width: 8px; text-transform:uppercase;font-weight: 900;letter-spacing: 8px;margin-right: auto;margin-left: auto;max-width:600px;font-style:italic;}

#ex5 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex5:hover {transform:scale(1.1);transition-duration:0.6s;}

#ex51 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex51:hover {transform:scale(1.1);transition-duration:0.6s;}

#ex52 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE; border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex52:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex53 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex53:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex54 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex54:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex55 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex55:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex56 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex56:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex57 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex57:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex58 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex58:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex59 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex59:hover {transform:scale(1.1);transition-duration:0.6s;}
#ex60 {
  display:inline-block;border-radius: 30px;border-color:#2E64FE;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;
  cursor: pointer;}

#ex60:hover {transform:scale(1.1);transition-duration:0.6s;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.zm {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;border-color:#C8FE2E;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #C8FE2E;
  padding: 10px 0;
  height: 150px;
}


.zm, #caption  {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.gyms {display:block;margin-left:auto;margin-right:auto; margin-top:50px; margin-bottom:50px;border-style:outset; border-color:white;border-radius:0;
border-width:10px;	
}
#baner {position: absolute;
  top: 3.6%;right:3%;
}