.fas {padding-left:10px;font-size:20;color:gold;padding-right:10px;}
.ex4 {background-image: url(2cb.jpg); background-position: center; background-attachment:fixed;opacity: 0.9;}
.ex1 {background-image: url(2cb.jpg); background-position: center; background-attachment:fixed;}
body {
  font-family: "Lato", sans-serif;
}
a {text-decoration:none; color:gold;}
a:hover {color:red;}
.ex3 {border-bottom-left-radius: 10px; border-bottom-right-radius: 30px; border-top-left-radius: 30px; border-top-right-radius: 10px; border-color: gold; border-style: solid; padding: 0.4cm; background-color: green; text-align:center; margin-left: 18cm; margin-right: 18cm;color:gold;font-size: 15px;font-weight: bold;letter-spacing: 1px;}
/* Fixed sidenav, full height */
.sidenav {
  height: 85%;
  width: 200px;border-radius:20px;margin-left: 5px;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 100;
  background: linear-gradient(45deg, green , #0066ff);
  overflow-x: hidden;
  padding-top: 20px;transition: 0.5s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-size: 12px;
  color: yellow;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none; transition: 0.2s;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: orange;transform:translateX(4px);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background: linear-gradient(45deg, red , #0066ff);
  padding-left: 2px;padding-right: 20px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 20px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.ex2 {font-size:10px;color: white;line-height: 1.6; text-align: justify;background-image: linear-gradient(-135deg, green, navy, green, navy);margin-left: 50px; margin-right:50px; border-radius: 30px;padding: 30px;border-style:solid; border-color: gold;border-width: 8px;text-transform:uppercase;font-weight: 900;letter-spacing: 1px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding-top: 15px;padding-bottom: 15px;
  border-radius: 15px;
}
#myBtn:hover {
  background-color: green;
}
html {scroll-behavior:smooth;}


body {margin:0;height:2000px;}

.icon-bar {
  position: fixed;
  top: 7%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;margin-left:5px;
  font-size: 20px;border-radius:10px;transition-duration:0.5s;
}

.icon-bar a:hover {margin-left:5px;
    background-color: green;transform:scale(0.9);transition-duration:0.5s;
}

.facebook {
  background: #3B5998;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.ex7 {border-radius: 30px;border-color:gold;border-width:4px;border-style:solid;float:left}
.ex71{border-radius: 30px;border-color:gold;border-width:4px;border-style:solid;float:right}
#ex5 {display:inline-block;border-radius: 30px;border-color:gold;border-width:4px;border-style:solid;float:left;margin-left:20px;margin-top:20px;margin-bottom:30px;transition-duration:0.6s;}
#ex5:hover {transform:scale(1.1);transition-duration:0.6s;}
.ex8 {margin-left:auto;margin-right:auto;display:block;}
.ex11 {border-radius: 18px;border-color:gold;border-width:4px;border-style:solid;color:black;font-size:14px;padding:20px;font-family:Arial;text-align:center;font-weight: 900;background: #ff0000;
background: linear-gradient(225deg,#ff0000 0%, #fff500 80%);
background: -webkit-linear-gradient(225deg,#ff0000 0%, #fff500 80%);
background: -moz-linear-gradient(225deg,#ff0000 0%, #fff500 80%);}
img {border-color:gold; border-width:4px;border-style:solid;border-radius:30px;}
@font-face {
   font-family: myFirstFont;
   src: url(nasalization.woff);
}
p, h2, a, button, td, table {
   font-family: myFirstFont;
}

@font-face {
   font-family: myFirstFont2;
   src: url(SansationLight.woff);
}
h1 {font-family:myFirstFont2;
}
#ex12 {color:orange;font-size:40px;text-align:center;text-shadow:-1px 0 #00e600,  0 1px #00e600, 1px 0 #00e600, 0 -1px #00e600;background-image: linear-gradient(-135deg, green, navy, green, navy); border-radius: 30px;padding: 30px;border-style: solid; border-color: gold;border-width: 8px; text-transform:uppercase;font-weight: 900;letter-spacing: 10px;margin-right: 50px;margin-left: 50px;}
