body.ex1 {background-image: url(2cb.jpg); background-position: center; background-attachment:fixed;}
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 85%;
  width: 200px;border-radius:30px;margin-top:20px;
  position: fixed;
  z-index: 1;
  top: 100;
  left: 100;
  background: linear-gradient(45deg, green , #0066ff);
  overflow-x: hidden;
  padding-top: 20px;transition: 0.5s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: yellow;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none; transition: 0.2s;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: orange;transform:translateX(7px);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background: linear-gradient(45deg, red , #0066ff);
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.ex2 {font-family: Arial;font-size:15px;color: gold;line-height: 1.6; text-align: justify; background-color: darkgreen; border-radius: 30px;padding: 30px 30px 500px 30px;border-style:solid; border-color: gold;border-width: 8px;
}
